<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>TE-v14.1.1 (May 31 2024)</string>
	<string>Mlocal build-2024-09-10 18:51:55 +0000</string>
	<string>G-r1420-14C116</string>
</array>
</plist>
